.nav_box {
  align-items: baseline;
  box-shadow: 0px 10px 10px -10px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 60px;
  padding: 10px 30px;
}

.logo_box {
  margin-right: 1360px;
}

.nav_image {
  margin-right: 30px;
}

.images_box {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
