.new_comment_box {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 20px;
}

.profile {
  align-self: flex-start;
  border-radius: 100%;
  display: flex;
  height: 40px;
  margin-right: 20px;
  width: 40px;
}

.comment_form {
  display: flex;
  flex-flow: column wrap;
}

.user_name {
  color: #000000;
  font-weight: Bold;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 10px;
}

.input_comments {
  border: 1px solid #979797;
  height: 73px;
  margin-bottom: 20px;
  width: 665px;
}

.send_button {
  background: #a5cd39;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  height: 38px;
  width: 192px;
}
