.book_info {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  margin-right: 60px;
  padding: 50px 0px;
  max-width: 128px;
}

.cover {
  height: 182px;
  margin-bottom: 10px;
  width: 128px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 20px;
  text-align: center;
}

.author {
  font-size: 16px;
}
