.login_box {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 200px 0;
}

.big_title {
  font-size: 62px;
}

.book {
  margin-right: 10px;
}

.login_form {
  align-items: baseline;
  color: #4a4a4a;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 20px;
}

.enter {
  align-self: center;
  background: #e93939;
  border-radius: 4px;
  width: 189px;
  height: 44px;
  color: #fff;
}

.sign_up {
  align-self: center;
  background: #5cb85c;
  border-radius: 4px;
  width: 189px;
  height: 44px;
  color: #fff;
}

.logo {
  align-items: baseline;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 60px;
}
