.text {
  margin-bottom: 10px;
  font-size: 16px;
}

.input_box {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
}

.data {
  background: #f4f4f4;
  font-size: 16px;
  height: 38px;
  margin-bottom: 20px;
  text-align: center;
  width: 541px;
}
