* {
  font-family: "Open Sans", sans-serif;
}

.photograph {
  margin-bottom: 20px;
}

.paragraph {
  color: #999;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  width: 190px;
}

.title {
  color: #111;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
} 

.barrier {
  background: radial-gradient(#F5C85F 40%, white 60%);
  border: none;
  border-radius: 60px;
  flex-shrink: 0;
  height: 300px;
  margin: 0 60px;
  width: 4px; 
}

.upper-container {
  border-top: 4px solid #F5C85F;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.middle-container {
  align-items: baseline;
  background-color: #EEE;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 40px 0; 
}

.middle-container::before {
  background: url("photos/triangle.png") repeat-x;
  content: "";
  position: relative;
  height: 10px;
  width: 100%;
  top: -50px;
}

.lower-container {
  display: flex;
  background-color: #F5C85F;
}

.item-container {
  align-items: center;
  background-color: #EEE;
  display: flex;
  flex-flow: column wrap;
  margin-right: 50px;  
}

@media (max-width: 1140px) {
  .phone,
  .barrier { 
      display: none;
  }
}
