p {
  color: #999;
  font-family: Open Sans;
  text-align: center;
  width: 190px;
}

h3 {
  color: #111;
  font-family: Open Sans;
  margin-bottom: 0;
  margin-top: 8px;  
} 

.barrier {
  background: radial-gradient(#F5C85F 40%, white 60%);
  border: none;
  border-radius: 60px;
  flex-shrink: 0;
  height: 300px;
  margin: 0 60px;
  width: 4px; 
}

.upper-container {
  border-top: 4px solid #F5C85F;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.middle-container {
  display: flex;
  background-color: #EEE;
  justify-content: space-around;
  align-items: center;
}

.lower-container {
  display: flex;
  background-color: #F5C85F;
}

.item-container {
  align-items: center;
  background-color: #EEE;
  display: flex;
  flex-flow: column wrap;
  height: 220px;  
}

@media (max-width: 1140px) {
  .phone,
  .separetor { 
      display: none;
  }
}
