.button_box {
  display: flex;
  flex-flow: column wrap;
}

.unavailable {
  background: #a5cd39;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  height: 38px;
  width: 192px;
}

.unavailable_text {
  font-weight: bold;
  font-style: italic;
  font-size: 14px;
  color: #ff233e;
  letter-spacing: 0px;
  line-height: 19px;
}

.button {
  background: #00adee;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  height: 38px;
  width: 192px;
}

.button:disabled {
  background: #e6e6e6;
}

.wishlist-button {
  background: #a5cd39;
}
