.show_notification {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: #f9f9f9;
  box-shadow: 0px 10px 10px -10px;
  border: 1px solid #f2f2f2;
  padding: 10px;
  position: absolute;
  top: 100px;
  right: 50px;
}

.mark_notif {
  background: #00adee;
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  margin-bottom: 20px;
  width: 190px;
}

.portrait {
  margin-right: 20px;
}

.item {
  align-items: flex-start;
  display: flex;
  flex-flow: row;
  margin-bottom: 20px;
}

.notification {
  align-items: baseline;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 30px;
}

.unshow_notification {
  display: none;
}
